---
layout: default
---

{% include page-intro.html %}

<main id="main" class="page-content" aria-label="Content">
  <div class="index inner">
    <div>{{ content }}</div>

    <div>
      <header class="section-title">
        <h2>{{ site.data.theme.t.posts | default: 'Posts' }}{% if paginator.page > 1 %}{{ site.data.theme.t.page | default: 'Page' | prepend: ' - ' | append: ' ' }}{{ paginator.page }} {{ site.data.theme.t.of | default: 'of' }} {{ paginator.total_pages }}{% endif %}</h2>
      </header>
      <main id="main" class="page-content" aria-label="Content">
  
    
      <div id="content" class="content content--center">
        <div class="grid grid--type-a">
          <div class="grid__sizer"></div>
          {% for post in site.posts %}
          <div class="grid__item">
            
            <a class="grid__link" href="{{post.url}}">
            {% if post.image %}
            <img class="grid__img" src="{{site.url}}{{post.image}}" alt="Some image" />
            {% endif %}
            <h4>{{post.title}}</h4>
            <p>{{post.subtitle}}</p>
            <p>
              <span class="icon">{% include icon-calendar.svg %}</span>
              <time class="entry-time" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time>
              </p>
            </a>
          </div>
          {% endfor %}
        </div>


        
      </div>
      
    

    {% include footer.html %}
  
</main>
      

